<!DOCTYPE html>
<html>
<head>
    <title>Create a sentence</title>
    <link rel='stylesheet' href='public/css/createView.css' />
</head>
<body>
<h1>Create a sentence</h1>

<form name="sentence" method="post" action="/sentences" >
    <input type="string" name="text" placeholder="Sentence here..."/><br><br>
    <input type="string" name="cats" placeholder="Cats separated by ,"/><br><br>
    <input type="submit" value="Create"/><br><br>
</form>

</body>
</html>